<template>
  <div class="editor">

    <div class="columns editor-header is-mobile">
      <div class="column">Write your input below</div>
      <div class="column">Look the result below</div>
    </div>

    <div class="columns editor-content is-gapless is-mobile">

      <div class="column">
        <textarea v-model="shared.input" class="editor-code editor-text" spellcheck="false" placeholder="Put your input here"></textarea> 
      </div>

      <div class="column">
        <div class="editor-result editor-text" v-html="shared.results"></div>
      </div>

    </div>

  </div>
</template>

<script>
  import store from './../utils/store'

  export default {
    name: 'editor',
    data() {
      return {
        shared: store.data
      }
    }
  }
</script>

<style lang="sass" scoped>

  .editor

    &-header
      background: #f9f9f9
      padding: 0 10px
      border-bottom: 1px #e4e4e4 solid

    &-content
      width: 100%
      position: absolute
      bottom: 0
      top: 100px
      overflow: hidden

    &-code
      border: 0px
      resize: none
      outline-width: 0
      
    &-result
      border-left: 1px #e4e4e4 solid

    &-text
      font-family: 'Overpass Mono', monospace
      font-size: 16px
      height: 100%
      width: 100%
      color: #666
      padding: 12px 10px
      text-transform: uppercase
      overflow-y: scroll
</style>