$fa-font-path: "~font-awesome/fonts"
@import "~font-awesome/scss/font-awesome.scss"
@import "~bulma"

body, html
  overflow: hidden

.nav
  position: fixed
  width: 100%
  top: 0
  left: 0
  
  &-right
    display: flex
    
  &-space
    height: 63px
